.navbar {
    background-color: #003300;
}

footer {
    font-size: x-small;
}

body {
    padding-top: 60px;
}

#hero {
    background-size: cover;
    background-position: center;
    background-image: url(/assets/hero.jpeg);
}


